*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-img{
    background: url(img/background-img.jpeg);
    height: 100vh;
    background-size: cover;    
}
img{
    border-radius: 15px;
    max-width: 100%;
}
body{
    background-color: black;
}
#sign-in{
    background-color: red;
    width: 110%;
    height: 90%;
    border-radius: 5px;
}
.input-group{
    display: flex;
    margin: auto;
    width:50%   ;
}
.input-group input:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.input-group input::placeholder{
    color: gray;
}
.input-group input:focus{
    background-color: transparent;
    border: 2px solid white;
}
#input-button{
    background-color: red;
}
.line{
    border: 2px solid gray;
}
#select-lang{
    border: 2px solid gray;
}
#select-lang:hover{
    background-color: transparent;
    border: 1px solid gray;
    color: white;
}